<div class="dropdown ml-4 nav-color">
    <div class=" dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="images/icon.png" width="30"
                             alt="User" style="margin-left: 30px;" />
     </div>
    <div class="dropdown-menu"
                         aria-labelledby="dropdownMenuButton">
         <div class="dropdown-item-text" style="text-align:center;">
                            <img src="images/icon.png" width="50"
                                 alt="User" />
                            <span>user@mail.ru</span>

         </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-controller="Product" asp-action="UserProducts">My products</a>
        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Log off</a>
     </div>
</div>
