@using Microsoft.AspNetCore.Identity
@using WEB_053501_Tatsiana_Shurko.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="navbar-nav navbar-expand-lg navbar-dark">
@if (SignInManager.IsSignedIn(User)){
            <a  class="nav-item nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
}
else{
            <a class="nav-item nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
            <a class="nav-item nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
}
</div>
