<div class="dropdown ml-4 nav-color">
        <div class=" dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
             <image img-action="GetImage" img-controller="LoadPicture"/>
        </div>
        <div class="dropdown-menu"
                         aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item-text" style="text-align:center;">
                <image img-action="GetImage" img-controller="LoadPicture"/>
                <span>@User.Identity.Name</span>

            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-controller="Book" asp-action="Index">My books</a>
                    <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
        </div>
</div>    